.tooltip_container {
    position: relative;
    display: inline-block;
}

.scaled_icon {
    scale: 1.1;
}

.tooltip_box {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.2s ease-in-out;
    opacity: 0;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: white;
    padding: 5px 10px;
    pointer-events: none;
    z-index: 10;
    font-size: 12px;
}

@media (max-width: 768px) {
    .tooltip-box {
        font-size: 10px;
        padding: 4px 8px;
    }
}

div:hover > .tooltip_box {
    top: -130%;
    opacity: 1;
    pointer-events: auto;
}